<form role="form" name="PremiumRequestPaymentDetails">


<!-- Table -->
<div class="form-group ">
<h3> Payment Details </h3>
  <!-- this is the grid -->
  
  <wj-flex-grid  items-source="dataTable"
  initialized="initGrid(s,e)"

    >
    <wj-flex-grid-column header="Client" binding="client"  is-required="true" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Group" binding="group"  is-required="true" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Payment File" binding="paymentFile"></wj-flex-grid-column>
    <wj-flex-grid-column header="Insured" binding="insured"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Carrier" binding="carrier"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Policy" binding="policy"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Due Date" binding="dueDate"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Premium Amount" binding="premiumAmount" format="n2" aggregate="Sum"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Disbursement Type" binding="disbursementType"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Antipated Payment" binding="anticipatedPayment"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Owner" binding="owner"  is-required="false" ></wj-flex-grid-column>
    <wj-flex-grid-column header="Wire Instrucction" binding="Carrier"  is-required="false"></wj-flex-grid-column>



  </wj-flex-grid>


</div> 
<!-- Output Files -->


  <div class="form-group row">
    <label class= "col-sm-2" >Output Files</label>
    <div class="col-sm-10">
        <table ng-repeat="batch in premiumRequest.batches" class="table" >         
        <tr ng-repeat="document in batch.documents">
                  <td>File</td>   
                  <!-- Fix Length -->     
            <td><a href="{{ document.filePath }}/{{document.fileName }}">{{document.fileName }}</a></td>
      </tr>
      </table>    
     </div>
  </div> 



<!-- Payment Agents -->
  <div class="form-group row">
    <label class= "col-sm-2">Payment Agent</label>
    <div class="col-sm-10">
          <p>{{premiumRequest.clientGroup.paymentAgent.name }}</p>

        </div>
  </div> 



<!-- Comments -->
  <div class="form-group row">
    <label class= "col-sm-2" for="paymeentComments">Comments</label>
    <div class="col-sm-10">
    <textarea rows="3" cols="60%"
                cam-variable-name="paymentComments"
                cam-variable-type="String">
      </textarea>
        </div>
  </div> 


  <!-- Approved Reject--> 
    <div class="form-group row">
      <label class="col-sm-2" for="approved">Approved</label>
      <div class="col-sm-10">
    <input class="pull-left"  type="checkbox"
        name="approved"
         ng-model="approved"
         />
   </div>
   </div>




<script cam-script type="text/form-script">
//debugger;

    //Var
    var groupBy = 'paymentFile';

    var apiUrlMock = "http://zsqbkee7tah5mmf4a-mock.stoplight-proxy.io/slx-api/v1 ";
    var apiUrl = "http://localhost:8080/slx-api/v1";
  
   
    // add a footer row to the grid
    $scope.initGrid = function (s, e) {

        // create a GroupRow to show aggregates automatically
        var row = new wijmo.grid.GroupRow();

        // add the new GroupRow to the grid's 'columnFooters' panel
        s.columnFooters.rows.push(row);

        // add a sigma to the header to show that this is a summary row
        //s.bottomLeftCells.setCellData(0,0, '\u03A3');
    }

    // add a group by parameter to de Grid
    $scope.groupBy = function (groupBy) {    
        var groupDesc = new wijmo.collections.PropertyGroupDescription(groupBy);
        $scope.dataTable.groupDescriptions.push(groupDesc);
        $scope.dataTable.sortDescriptions.push(new wijmo.collections.SortDescription('PaymentFile', true));


        }



    //On Form Load
     inject([ '$scope', '$http', function($scope, $http) {
    camForm.on('form-loaded', function() {
    // tell the form SDK to fetch the variable named 'invoiceData'
         camForm.variableManager.fetchVariable('state');
    });
     }]);


  //On Variables Fetched
  inject([ '$scope', '$http', '$filter', function($scope, $http , $filter) {
    camForm.on('variables-fetched', function() {
      // work with the variable (bind it to the current AngularJS $scope)
      	$scope.state = camForm.variableManager.variableValue('state');
		//set 
		$scope.approved=false;
		//Request retrieve by the API - To Do
    //var premiumRequestId = $scope.state.request.id ;
    var premiumRequestId = "42";
 
         

        // Get Premium Request from the api , and populate the grid
    	$scope.getPremiumRequest = function(id) {  
              //Get Method
              $http.get(apiUrl +"/premium-requests/"+id).then(function(result) {
                  $scope.premiumRequest=result.data;
                  $scope.data = []
                  $scope.getData(result.data);
                  $scope.dataTable = new wijmo.collections.CollectionView($scope.data);
                  
                  // group and sort items by amount in descending order
                  $scope.groupBy(groupBy);
               
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                console.log("error");
          });
            
        } 
      // Get Premium Request from the api , and populate the grid
        $scope.getPolicies = function(id , paymentFile) {  
              //Get Method
              $http.get(apiUrlMock+"/policies/"+id).then(function(result) {
                  var p = result.data;
                 var policy = {"policy": p.id , 
                                "paymentFile": paymentFile, 
                                "insured":  p.insured.name, 
                                  "carrier":p.carrier.name, 
                                  "dueDate":  new Date(p.currentPremium.dueDate), 
                                  "premiumAmount": p.currentPremium.paymentAmount ,
                              "disbursementType": p.carrier.disbursementType , 
                              "anticipatedPayment":  new Date($scope.state.paymentDates[paymentFile-1]),
                              "owner":  p.owner.name };
                  $scope.data.push($.extend({}, $scope.header, policy));              
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                console.log("error");
          }).then(function(){ 
                  $scope.dataTable.refresh(); 
            });
        }

            // get data to the Grid 
            $scope.getData = function(premiumRequest) {
                $scope.header = {"client": premiumRequest.clientGroup.name ,
                 "group": premiumRequest.clientGroup.groupType ,
                  };
                //get Batches data, and construct a json Array 
                var i = 1;
                angular.forEach(premiumRequest.batches, function(batch) {
          		      angular.forEach(batch.policies ,  function(p) {
					              $scope.getPolicies(p.policyId , i );                		    
                  	}); 
                    i++;          
                });
            }
    	$scope.getPremiumRequest(premiumRequestId);        
    });
    }]);




    //Before Submit
       camForm.on('submit', function(evt) {
        // this callback is executed when the form is submitted, *before* the submit request to
        // the server is executed
        // creating a new variable will add it to the form submit

        $scope.state.approved   = $scope.approved;      	
      })
</script>
</form>