<form role="form" name="PremiumRequestConfirmBatch">


<h3> Confirm Payments </h3>



 <div class="row">
    <label   class="form-group col-sm-3" for="premiumRequestAnticipatedDate">Anticipated Payment Date</label>
  <p class="input-group col-sm-3">  
  <input type="text"
       name="premiumRequestAnticipatedDate"       
       class="form-control"
       ng-model="anticipatedDateSelected"
       ng-change="premiumRequestanticipatedDateUpdated()"
       datepicker-popup= "MM-dd-yyyy"
       placeholder="MM-dd-yyyy"
       is-open="anticipatedDateFieldOpened" />

  <span class="input-group-btn">
    <button type="button"
            class="btn btn-default" 
            ng-click="anticipated_open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
  
  </p>

  
</div>



<!-- Table -->
<div class="form-group ">
  <!-- this is the grid --> 
  <wj-flex-grid  items-source="dataTable"    >
     <wj-flex-grid-column header="Insured Name" binding="insured" is-read-only="true"></wj-flex-grid-column>
     <wj-flex-grid-column header="Carrier" binding="carrier" is-read-only="true"></wj-flex-grid-column>
     <wj-flex-grid-column header="Policy Number" binding="policyNro" is-read-only="true"></wj-flex-grid-column>
     <wj-flex-grid-column header="Due Date" binding="dueDate" is-read-only="true"></wj-flex-grid-column>
     <wj-flex-grid-column header="Amount Requested" binding="amountPayment" format="n2" aggregate="Sum" is-read-only="true"></wj-flex-grid-column>
     <wj-flex-grid-column header="Actual Date Paid" binding="paymentDate" ></wj-flex-grid-column>
     <wj-flex-grid-column header="Actual Amount Paid" binding="amount" format="n2" aggregate="Sum" ></wj-flex-grid-column>



  </wj-flex-grid>


</div> 

<div>
     
</div> 

<div ng-if ="errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>

<script cam-script type="text/form-script">
//debugger;
  var apiUrl = "http://zsqbkee7tah5mmf4a-mock.stoplight-proxy.io";
  

   //Angular Datepicker
    $scope.anticipated_open = function($event) {
        $event.preventDefault();
        $event.stopPropagation();
        $scope.anticipatedDateFieldOpened = true;    
      };


    //On Form Load
    inject([ '$scope', '$http', function($scope, $http) {
  	camForm.on('form-loaded', function() {
    // tell the form SDK to fetch the variable named 'invoiceData'
  			 camForm.variableManager.fetchVariable('state');
         camForm.variableManager.fetchVariable('batch');
  	});
    }]);  







    //On Change Premium Request Anticipated Date select
    $scope.premiumRequestanticipatedDateUpdated= function() {
    		
    		// 
        	angular.forEach($scope.data, function(item) {
        			item.paymentDate = $scope.anticipatedDateSelected;
        });
		$scope.dataTable.refresh();
    };


   //On Variables Fetched
  inject([ '$scope', '$http', '$filter', function($scope, $http , $filter) {
  	camForm.on('variables-fetched', function() {
    	// work with the variable (bind it to the current AngularJS $scope)

    	$scope.state = camForm.variableManager.variableValue('state');
      $scope.batch = camForm.variableManager.variableValue('batch');

      
      var premiumRequestId = $scope.state.request.id ;
      console.log($scope.batch);
      var currentBatch= 0;
      console.log("amount" + $scope.state.batchPayments[currentBatch].paymentAmount);
      

         $scope.getPremiumRequest = function(id) {  
              //Get Method
              $http.get(apiUrl+"/premium-requests/"+id).then(function(result) {

              	    $scope.data = [];
                    $scope.getData(result.data);
                    $scope.dataTable = new wijmo.collections.CollectionView($scope.data);
                    
                            	
              
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                console.log("error");
          });
          





         //get Data
    	$scope.getData= function(premiumRequest) {
    		
	        // Convert String Dates to Date object
        	angular.forEach(premiumRequest.batches, function(batch) {
        
            	 
            	 angular.forEach(batch.policies, function(policy) {
        
            	 		$scope.getPolicy(policy.policyId);


            	 	
            	 
        		});

        	});
        
    		
    	}

    	 $scope.getPolicy = function(id) {  
              //Get Method
              $http.get(apiUrl+"/policies/"+id).then(function(result) {
         
                var p =result.data;
                var policy ={
			            insured: p.insured.name,
			    		    carrier : p.carrier.name,
    			    		policyNro : p.id,
    			            dueDate: new Date(p.currentPremium.dueDate),
    			            amountPayment: p.currentPremium.paymentAmount,
    			            paymentDate: new Date(p.currentPremium.dueDate),
    			            amount: p.currentPremium.paymentAmount,
    		        		};
    		
    		        $scope.data.push(policy);



              
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                console.log("error");
          }).then( function(){
            
             $scope.dataTable.refresh(); 
            
              });
          ;
            
        } 



        } 
	

        $scope.getPremiumRequest(premiumRequestId);   

      
        
  	});
    }]);




    






	//Before Submit

    camForm.on('submit', function(evt) {
        // this callback is executed when the form is submitted, *before* the submit request to
        // the server is executed
        // creating a new variable will add it to the form submit
                
        
        $scope.formIsValid =  function(){
            
            $scope.dataTable.refresh();
            var valid =  true;

            angular.forEach($scope.dataTable.items, function(item) {
                  
                  if (  valid && (!angular.isDate(item.paymentDate) || item.paymentDate.toString() ==="Invalid Date")) {  
                    $scope.errorMessage="Warning - You must complete All the Payments Date";
                     valid=false;
        
                  }


                  if (  valid && item.amount == null) {  
                    $scope.errorMessage="Warning - You must complete All the Payments Amount";
                     valid=false;
        
                  }

            });

            return valid
        }


        // may prevent the submit from being executed:
        if (!$scope.formIsValid()){
            evt.submitPrevented = true;
        } else {
            evt.submitPrevented = false;
        }
        
        

      });




</script>

</form>
